.ColourButton-container{
    height: 5vh;
    width: 20vh;
    border-radius: 8px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ColourButton-container:hover{
    box-shadow: inset 0 0 10px;
}
